= form_for @course_item do |f|
  - if @course_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course_item.errors.count, "error")} prohibited this course_item from being saved:"
      %ul
        - @course_item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :times_repeated
    = f.number_field :times_repeated
  .field
    = f.label :last_learning
    = f.datetime_select :last_learning
  .field
    = f.label :word
    = f.text_field :word
  .field
    = f.label :course
    = f.text_field :course
  .actions
    = f.submit 'Save'
