%h1 Listing course_items

%table
  %tr
    %th Times repeated
    %th Last learning
    %th Word
    %th Course
    %th
    %th
    %th

  - @course_items.each do |course_item|
    %tr
      %td= course_item.times_repeated
      %td= course_item.last_learning
      %td= course_item.word
      %td= course_item.course
      %td= link_to 'Show', course_item
      %td= link_to 'Edit', edit_course_item_path(course_item)
      %td= link_to 'Destroy', course_item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Course item', new_course_item_path
