%h1 Listing courses

%table.table.table-striped.table-hover
  %tr
    %th Name
    %th Start date
    %th End date
    %th
    %th
    %th
    %th

  - @courses.each do |course|
    %tr
      %td= course.name
      %td= course.start_date
      %td= course.end_date
      %td= link_to 'Show', course
      %td= link_to 'Edit', edit_course_path(course)
      %td= link_to 'Destroy', course, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %td= link_to 'Learn', learn_course_path(course), class: "btn btn-success btn-xs"

%br

= link_to 'New Course', new_course_path, class: "btn btn-primary btn-lg"
