%p#notice= notice

%p
  %b Name:
  = @course.name
%p
  %b Start date:
  = @course.start_date
%p
  %b End date:
  = @course.end_date

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
